<div class="calc-container" >
    <my-header></my-header>

    <div class="calc">

        <div class="display">
          {{ displayValue }}
        </div>

        <div class="mathOperations">
            <div class="butn orange nrb" ng-repeat="key in mathOperations" ng-click="setOperation(key.operation);" >{{ key.label }} </div>
            <div class="butn orange nrb" ng-click="calculate();" ng-class="equalSignKey.cssClass">{{ equalSignKey.label }}</div>
        </div>

        <div class="numButtons">
            <div class="butn action col-sm-4 nlb" ng-click="clearEverything();" >AC</div>
            <div class="butn action col-sm-4" ng-click="toggleSign();" >+/-</div>
            <div class="butn action col-sm-4">%</div>
            <div class="butn numeric col-sm-4" ng-repeat="num in numKeys" ng-click="numClicked(num.value);" ng-class='num.cssClass'>{{ num.label }} </div>
            <div class="butn numeric col-sm-8 nbb nlb" ng-click="numClicked(numKeys0.value);" ng-class='numKeys0.cssClass' >{{ numKeys0.label }} </div>
            <div class="butn numeric nbb col-sm-4">.</div>
        </div>

    </div>
    
    <div id="RouteLinkID" class="routing">
        <a href="/route">Check routing</a>
    </div>

</div>