@mainBodyMathActionsColor: #f5923e;

#container {
    margin: 20px;
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
}

.calc {
    width: 230px;
    height: 322px;
    border-radius: 3px;
    border: 1px solid #3b3b3b;
    font-weight: 100;
}

.display {
    background-color: #4c4c4c;
    opacity: 1;
    height: 80px;
    width: 100%;
    padding: 10px;
    text-align: right;
    color: #fff;
    font-size: 50px;
    line-height: 70px;
}

.mathOperations {
    float: right;
    width: 25%;
}

.numButtons {
    width: 75%;
}

.butn {
    height: 48px;
    border: 1px solid #8e8e8e;
    border-radius: 0;
    font-size: 22px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
}

.ntb {
    border-top-width: 0;
    height: 46px;
}

.nrb {
    border-right-width: 0;
}

.nlb {
    border-left-width: 0;
}

.nbb {
    border-bottom-width: 0;
}

.action {
    background-color: #d6d6d6;
}

.numeric {
    background-color: #e0e0e0;
}

.orange {
    background-color: @mainBodyMathActionsColor;
    color: #fff;
}

.my-header {
    margin: 0 0 15px 30px;
}

.routing {
    margin: 10px 0 0 20px;
}
